'''@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-white text-brand-gray-mid;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  h1 {
    @apply text-h1 leading-h1;
  }

  h2 {
    @apply text-h2 leading-h2;
  }

  h3 {
    @apply text-h3 leading-h3;
  }
}
''